* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 19, 38);
}

  @media screen and (max-width: 500px) {
    body {
      height: 90vh;
    }
  }

.gameWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas1 {
  max-width: 100%;
  max-height: 100%;
  box-shadow: rgb(18, 67, 100) 0px 22px 70px 4px;
  border: 1px solid rgb(8, 35, 54);
  border-radius: 20px;
  background-color: rgb(17, 58, 85);
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8, #flyingEnemy, #groundEnemy, #climbingEnemy, #boom, #heart, #energy, #groundObstacle, #pumpkin, #fire {
  display: none;
}